<!doctype html>
<html>

<head>
</head>

<body>
<h3> Hedge Fund Analysis From SEC EDGAR filings </h3>

<br>
<a href="0_250k.html">HedgeFunds managing Assets worth upto 250k dollars</a> 
<br>
<a href="250k_500k.html"> HedgeFunds managing Assets worth between 250k to 500k dollars</a> 
<br>
<a href="500k_m.html"> HedgeFunds managing Assets worth between 500k to a million dollars</a> 
<br>
<a href="1m_5m.html"> HedgeFunds managing Assets worth between 1 million to 5 million dollars</a> 
<br>
<a href="5m_10m.html"> HedgeFunds managing Assets worth between 5 million to 10 million dollars</a> 
<br>
<a href="10m_100m.html"> HedgeFunds managing Assets worth between 10 million to 100 million dollars</a> 
<br>
<a href="overaBillion.html"> HedgeFunds managing Assets worth over a Billion Dollars</a> 
<br>

</body>


<footer>
Created by : Irtaza Ali
</footer>

</html>
